/*GENERAL*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}

/* TRANSTION*/
a {
  transition: all 300ms ease;
}
#desktop-nav,
#hamburguer-nav {
  display: none;
}
#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__pic-container img {
  height: 200px;
  width: 200px;
  margin: 30px;
}

.section__text {
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  font-weight: 600;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.section__text__p2 {
  font-size: 1.25rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* ABOUT SECTION */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-containers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.about-details-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  /* position: absolute; */
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

/* EXPERIENCE SECTION */

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  /* width: 100%; */
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  /*DESKTOP NAV*/
  #desktop-nav {
    display: flex;
  }
  #profile {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
  }
  #about,
  #experience,
  #projects,
  #contact {
    /* flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px; */
    height: 100vh;
  }
  /* Adicione esta regra ao seu arquivo CSS */
  .project-item {
    flex: 0 1 calc(30% - 20px);
    max-width: 200px;
    /* max-height: 200px; */
  }

  .project-img {
    width: 100%; /* Certifica-se de que a imagem ocupa 100% da largura do contêiner */
  }

  .project-title,
  .project-btn {
    /* Ajuste conforme necessário */
    font-size: 14px;
    margin: 5px 0;
  }

  .about-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    flex-wrap: wrap;
  }
  .about-details-container {
    margin: 30px;
  }
  .section__pic-container img {
    height: 400px;
    width: 400px;
  }
  nav,
  .nav-links {
    display: flex;
  }

  nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
  }

  .nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
  }

  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }

  a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }

  .logo {
    font-size: 2rem;
  }

  .logo:hover {
    cursor: default;
  }
  .about-containers {
    flex-direction: row;
  }
  /* .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  } */
}
